.cardContainer{
    display: flex;
    justify-content: space-around;  
    flex : 1;
    flex-wrap:wrap;
    /* margin: 5px 20px; */
}
.cardContainer > *{
    margin: 20px 10px 10px;
}

.info-title{
    color: var(--text-color-primary);
    text-align: center;
    

     font-size: 3.5rem
}
.bufferContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bufferContainer > *{
    text-align: center;
}
.loadingInText{
    display: flex;
    justify-content: center;
}
.textLoadingInText{
    position: relative;
    top: 25px;
    left: 30px;
    color: azure;
    font-size: 50px;
}
