.cardContainer{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    /* margin: 5px 20px; */
}
.cardContainer > *{
    margin: 5px 40px 40px;
}

.info-title{
    color: var(--text-color-primary);
    text-align: center;
    font-size: min(11vh,10vw);
}
.bufferContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bufferContainer > *{
    text-align: center;
}
.loadingInText{
    display: flex;
    justify-content: center;
}
.textLoadingInText{
    position: relative;
    top: 25px;
    left: 30px;
    color: azure;
    font-size: 50px;
}
