.compare-graph-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    height: 60vh;
    width: 63vw;
    z-index: 5;
    display: flex;
    padding: 3rem;
}

.dialog-button {
    position: absolute;
    right: 10px;
    top: 10px
}

.dialog-button:hover {
    cursor: pointer;
}