.contest-info-container {
    height: 450px;
    /* background-color: var(--secondary-color); */
    margin: 10px;
    width: 47vw;
    padding-left: 5px;

    h1 {
        font-family: 'Domine', serif;
        /* color: var(--text-color-primary); */
        color: var(--text-color-white);
        text-align: center;
        padding-top: 20px;
    }
}

.bar-graph {
    padding-top: 10px;
}