.activeNavPage{
    color: azure;
}

.navClass{
    background-color: var(--primary-color);
    display: flex;
}

.navElement{
    padding: 10px 20px;
    color: var(--text-color-primary);
}
a.activeNavElement{
    padding: 10px 20px;
    color: var(--text-color-secondary);
}
