.activeNavPage {
    color: azure;
}

.navClass {
    background-color: var(--primary-color);
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.navElement {
    padding: 10px 20px;
    color: var(--text-color-primary);
    background-color: #444;
    transition: 0.8s;
}


a.activeNavElement {
    padding: 10px 20px;
    color: var(--text-color-secondary);
}

.nav-elements {
    background-color: var(--primary-color);
    display: flex;
}

.user-options {
    display: flex;
    cursor: pointer;

    .hello-container {
        margin: 15px 0;
        color: var(--text-color-primary);
    }

    .user-options-container {
        transition: .15s ease;
        position: absolute;
        z-index: 10;
        top: 60px;
        background-color: var(--primary-color);
        text-align: center;



        div {
            padding: 10px 5px;
            color: var(--text-color-primary);
            transition: .5s ease;
        }

        hr {
            width: 90%;
            margin: 0 5%;
        }
    }
}

.user-options-container :hover {
    background-color: #444;
}