.activeNavPage {
    color: azure;
}

.navClass {
    background-color: var(--primary-color);
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.navElement {
    padding: 10px 20px;
    color: var(--text-color-primary);
}

a.activeNavElement {
    padding: 10px 20px;
    color: var(--text-color-secondary);
}

.nav-elements {
    background-color: var(--primary-color);
    display: flex;
}